.sidebar_row {
  display: flex;
  align-items: center;
  height: 20px;
  width: 150px;
  padding: 10px 20px;
}
.sidebar_icon {
  color: black;
  font-size: 22px !important;
}
.sidebar_title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.sidebar_row:hover {
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 10px;
}